<!DOCTYPE html>
<html>

<head>
  <title><%= pagetitle %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= movies[1].title %></h1>
    <h1><%= movies[1].fullplot %></h1>
    <img src="<%= movies[1].poster %>" alt="poster">

</body>

</html>