body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: -webkit-linear-gradient(330deg, #fdfbfb 0, #ebedee 100%);
  background-image: -o-linear-gradient(330deg, #fdfbfb 0, #ebedee 100%);
  background-image: linear-gradient(120deg, #fdfbfb 0, #ebedee 100%);
}

a {
  color: #cc0000;
}

ul {
  list-style: none;
}

.jumbotron {
  border-radius: 25px !important;
  margin-top: 50px !important;
}

.top-nav-collapse {
  background-color: #444444 !important;
}

.navbar:not(.top-nav-collapse) {
  background: #444444 !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #444444 !important;
  }
}

h5 {
  letter-spacing: 3px;
}

.navbar-brand {
  color: #cc0000 !important;
}